*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    word-spacing: 2px;
}

p, h1, h2, h3, a, input, span, a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a{
    text-decoration: none;
}
